/***************
global styling
***************/

* {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
   
}

.pageBG {
    background: linear-gradient( #f4f4f4, #d8efff) ;

}

h1 {
    font-size: 3em;
    color: #081c35;
    
}




/***************
Awards flex
***************/


.awardImages ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/***************
Element Selectors
***************/

body {
    background-color: #f4f4f434;
}

blockquote {
   border-left: 3px #6ab6e7 solid;
   margin: 2em;
   margin-left: 5em;
   padding-left: 1em;
   background-color: rgb(240, 240, 240);
   width: 60%;
}

blockquote .italic {
    font-style: italic;
}


footer p {
    font-size: 1em !important;
}

footer {
    background-color: #ffffff;
}

/***************
Class Selectors
***************/

.nav-menu {
    text-align: center;
    background-color: #ffffffcc;
}

.nav-menu h1 {
    border-bottom: 1px solid black;
    color:#10427f;
    margin-bottom: .25em;
}

.nav-menu ul {
    padding-left: 0;
}

.nav-menu ul,
.nav-menu h1 {
    padding-bottom: .25em;
}

.nav-menu li {
    list-style: none;
    margin-bottom: 0.25em;
}

.nav-menu li a {
    text-decoration: none;
    font-size: 1.5em;
    color: #de4404; 
}

.banner {
    background-image: url("img/bullying.jpg");
    width: 100%;
    height: 200px;
    background-size: cover;
    margin-bottom: 1em;
}

.wrapper {
    margin: 0 1em;
}



/* About Page Mobile */
.about-flex-wrap {
    border-top: 10px solid #de4404;
}
h1.about-heading {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}
.about-flex-two h3 {
    text-align: center;
    font-size: 1.3em;
    margin: 1.2em auto;
}
.about-flex-two p {
    font-size: 1.3em;
    text-align: justify;
    padding: .3em;
}
.about-flex-one img {
    display: block;
    margin: auto;
    border-radius: .3em;
    box-shadow: 2px 3px #c3bfc4;
}

/***************************
FOOTER MOBILE
****************************/
footer {
    background-color: #ffffff;
}
footer p {
    font-size: 1.2em;
    text-align: center;
    padding: .15em;  
}
footer p a {
    text-decoration: none;
    color: black;
}
footer p a:hover {
    color: white;
}
    


/*********
    Products Page
*********/

.product-card img{
    width: 150px;
}


/***************
ID Selectors
***************/


/***************
Media Queries
***************/

@media (min-width: 600px){

    .nav-menu-title {
        flex-grow: 1;
    }

    .nav-menu h1 {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
        color: #081c35;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        margin: 1em 2em;
        margin-right: 3em;

        position: fixed;
        width: 100%;
        padding-left: 0;
        margin-left: 0;
        height: 50px;
        top: 0;
        margin-top: 0;
        padding-top: 1em;
        margin-right: 2em;
    }

    .nav-menu ul {
        display: flex;
        justify-content: space-between;;
        padding-bottom: 0;
        flex-grow: 3;
        margin-right: 1em;  
    }

    .nav-menu li {
        display: inline;
        margin-right: 0 ;
        margin-bottom: 0;
        font-size: 1.3em;
    }

    .nav-space {
        content: "";
        display: table;
        height: 65px;
    }
    .banner {
        width: 100%;
        height: 250px;
        background-size: cover;
        margin-bottom: 1em;
        background-position-y: -50px;
    }


    main h1 {
        text-align: center;
        margin: 1em;    
    }

    footer p a {
        right: 10px;
        position: absolute;
    }
    /*********
    Products Page
    *********/
    .products-output {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
    
    .product-card {
        width: 30%;
        margin-bottom: 1em;
        padding-bottom: 1em;
        border-bottom: 1px dotted black;
    }

    .product-card h1,
    .product-card p {
        text-align: center;
    }

    .product-card img {
        margin: 0 auto;
        display: block;
    }

}

@media (min-width: 1100px){
    .banner {
        background-position-y: -160px;
        height: 300px;
    }
}

/***************************
ED --- ABOUT PAGE STYLING
****************************/
article {
    margin-bottom: 1.5em;
}
.about-flex-wrap {
    display: flex;
    justify-content: space-around;
    border-top: 10px solid #de4404;
}
h1.about-heading {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}
.about-flex-one {
    flex: 1 1 auto;
}
.about-flex-two {
    width: 2 1 auto;
}
.about-flex-one img {
    border-radius: .3em;
    box-shadow: 2px 3px #c3bfc4;
    margin-right: .2em;
}
.about-flex-two h3 {
    text-align: center;
    font-size: 1.7em;
    margin: 1.5em auto;
}

.about-flex-two p {
    font-size: 1.5em;
    text-align: justify;
    padding: .5em;
}

/***************************
FOOTER
****************************/
footer {
    background-color: #ffffff;
}
}
footer p {
    font-size: 1.3em;
    text-align: center;
    padding: .25em;  
}
footer p a {
    text-decoration: none;
    color: black;
}
footer p a:hover {
    color: white;
}